// /* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

// custom variables

$darkblue: #0000a0;
$orange: #ff8000;
$grey: #808080;
$white: #d7e8fd;
$lightblue: #81a9e2;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body {
  height: 100%;
  background: linear-gradient(to top, $white, $lightblue, $darkblue);
  font-family: "Montserrat", sans-serif;
}

nav
{
 background: rgba(128, 128, 128, 0.466);
}
