<div class="position-absolute" style="left: 280px; width: calc(100% - 280px)">
  <div class="container p-4">
    <!-- row 1 -->
    <div class="row mb-4 d-flex">
      <!-- col left -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Modus</h4>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div>
                <select #modus (change)="onSelected(modus.value)"
                  class="form-select"
                  aria-label="Default select example"
                  style="width: 165px">
                  <option selected value="default">Modus wählen</option>
                  <option value="Halle">Halle</option>
                  <option value="im Freien">im Freien</option>
                  <option value="Feld">Feld</option>
                  <option value="3D">3D</option>
                </select>
              </div>
            </div>
            <div class="col text-center">
              Anzahl <br />
              Durchgänge
              <div>
                <input class="mt-2 rounded" type="text" style="width: 30px" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center m-2">
              <img #image alt width="75px" />
            </div>
          </div>
        </div>
      </div>
      <!-- col right -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Optionen</h4>
          <div class="mt-2 mx-5">
            <input
              class="checkbox form-check-input me-2"
              type="checkbox"
              value=""
              id="firstCheckbox"
            />
            <label>Meisterschaft</label>
          </div>
          <div class="mt-2 mx-5">
            <input
              class="checkbox form-check-input me-2"
              type="checkbox"
              value=""
              id="firstCheckbox"
            />
            <label>Ergebniserfassung mit Terminals</label>
          </div>
          <div class="mt-2 mx-5">
            <input
              class="checkbox form-check-input me-2"
              type="checkbox"
              value=""
              id="firstCheckbox"
            />
            <label>Turnier mit Finalauswertung</label>
          </div>
          <div class="mt-2 mx-5">
            <input
              class="checkbox form-check-input me-2"
              type="checkbox"
              value=""
              id="firstCheckbox"
            />
            <label>Rekorde bestimmen</label>
          </div>
        </div>
      </div>
    </div>

    <!-- row 2 -->
    <div class="row mb-4">
      <!-- col left -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Gesamtüberschrift für Listen</h4>
          <div class="input-group mb-3 mt-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Organisator"
              aria-label="Organisator"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Modus"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Datum"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
      <!-- col right -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Gruppen Überschrift</h4>
          <div class="input-group mb-3 mt-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Organisator"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Modus"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Datum"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- row 3 -->
    <div class="row">
      <!-- col left -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Logo Auswahl</h4>
          
        </div>
      </div>
      <!-- col right -->
      <div class="col">
        <div class="card p-2">
          <h4 class="text-center">Überschrift Schusszettel</h4>
          <div class="input-group mt-3 mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3 px-4">
            <span class="input-group-text" id="basic-addon1"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Datum"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
