@import url('../../../assets/common.scss');

h1{
  color: #ff8000;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 3px 3px 4px  #808080;
}


.list-group-item{
  background-color: rgba(128, 128, 128, 0.253);
}

.list-group-item:hover {
  background-color: #ff8000;
}

.even {
  background-color: #808080;
}

.odd {
  background-color: #d395b5;
}
