h1{
  color: #ff8000;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 3px 3px 4px  #808080;
}

button{
  background-color: #ff8000;
  border-color: #808080;
  color: #0000a0;
  font-weight: bold;
}
